@tailwind base;
@tailwind components;
@tailwind utilities;

.outlined-text {
  color: transparent;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black; /* Fallback for non-webkit browsers */
}

.outlined-text-white {
  color: transparent;
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white; /* Fallback for non-webkit browsers */
}



.all_padding{
  @apply p-5 md:p-[100px]
}


.padding_x{
  @apply px-5 md:px-[100px]
}


/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
